
.container {
	width: 25%;
	padding: 10px;
	box-sizing: border-box;
}

.imageItem {
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
	padding: 10px;
	font-size: 14px;
}

.image {
	align-self: center;
	width: 60%;
	margin-bottom: 15px;
}

.title {
	padding: 5px;
	font-weight: bold;
	font-size: 18px;
}

.comments {
	padding: 5px;
}

.link {
	padding: 5px;
	text-decoration: none;
}